extends layout

block content
    .inner
        h2= title
        form.form(method="POST")
            label(for="password") Password
            input(type="password" name="password")
            label(for="password-confirm") Confirm password
            input(type="password" name="password-confirm")
            input.button(type="submit" value="Reset password")